.page-dashboard main .content > .showings-bookings {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  background-image: var(--palette-gradient-dark);
  color: white;
  padding: 0.5rem;
}

.page-dashboard main .content > .showings-bookings > :is(.showings, .bookings)  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.page-dashboard main .content > .showings-bookings > :is(.showings, .bookings) > .icon {
  text-align: center;
}

.page-dashboard main .content > .showings-bookings > :is(.showings, .bookings) > .icon > * {
  height: 8rem;
}

.page-dashboard main .content > .showings-bookings > :is(.showings, .bookings) > .info > * {
  margin-block: 0;
  line-height: 1.2;
  font-weight: bold;
}

.page-dashboard main .content > .showings-bookings > :is(.showings, .bookings) > .info > *:nth-child(1) {
  color: var(--palette-cyan);
  font-size: 3.5rem;
}

.page-dashboard main .content > .showings-bookings > .dividing-line  {
  background-color: white;
}