.page-dashboard main .content > .clock {
  background-color: var(--palette-bg-blue);
  border: 4px solid var(--palette-blue);
  color: white;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-dashboard main .content > .clock > *:nth-child(1) {
  font-size: 5rem;
  font-weight: bold;
}

.page-dashboard main .content > .clock > *:nth-child(2) {
  font-size: 1.2rem;
}