
.carousel-item img {
  filter: brightness(30%);
}


.movie-title{
  font-family: "bebas neue";
  font-size: 40px;
}

.captions1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  bottom: 22rem;
  left: 6%;
}

.captions1 p{
  font-family: 'Lato' !important;
}


.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 4rem;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 0rem;
  margin-left: 6%;
  list-style: none;
}


.carousel-indicators button {
  border-radius: 100px !important;

  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: rgb(86, 204, 255) !important;
  border: 0;
  border-top: none !important;
  border-bottom: none !important;
  opacity: .5;
  transition: .1s ease-in-out !important;
}

.carousel-indicators button[class="active"] {
  width: 50px !important;
  transition: .2s ease-in-out !important;
}


.carousel-inner {
  height: 600px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.buttons .reserve {
  border: 2px solid #02d3e6;
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.buttons .reserve{
  background: #02d3e6;
}


.buttons .more-info {
  border: 2px solid #02d3e6;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.buttons .more-info:hover{
  background: #02d3e6;
}

@media screen and (max-width: 600px){

}