::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: #0e1c40;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #1F2F55;
}

